body {
    background-color: rgb(195, 244, 182);
    color: #2E7D32;
}

i {
   padding: 0 1.5vw;
}

.brand-logo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav ul {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.responsive-video {
    padding: 2rem;
}

p {
    font-weight: bold;
    padding: 1.5rem;
}
